#head	   {text-align:center;
	   color:#3498DB;}

.paragraph {text-align:center;
	   font-size:17px;
	   font-family:Arial;}

#first     {color:#3498DB;}

.second    {background-color:#3498DB;
	   color:white;}

#span	   {font-size:25px;}
#spantwo   {font-size:18px;}