#head   {text-align:center;
	color:#3498DB;}

#one  {text-align:center;
	font-family:Verdana;
	font-size:17px;}

.two {text-align:center;
	font-family:Verdana;
	font-size:17px;
	color:#3498DB;}
	